.dbs_inputDate{
}

.dbs_inputDate > .-container{
	position: relative;
}

.dbs_inputDate > .-container > .-th_input-label {
}

.dbs_inputDate > .-container > .-th_input-data > input,
.dbs_inputDate > .-container > .-th_input-data > label{
	display: inline-block;
	line-height: 100%;
	border: 0 none;
/* 	margin-top: 2px; Comentado em 2016-01-13*/
	font-size: inherit;
	background-color: transparent !important;
	text-align: left; /*incluido em 2016-01-12 */
	color: currentColor;
/* 	height: 13px; COMENTADO EM 2016-01-12 por Ricardo para permitir ajuste fontes de tamanhos diferentes*/
}	

.dbs_inputDate > .-container > .-th_input-data > label{
}

.dbs_inputDate > .-container > .-th_input-data > input{
}


