.dbs_inputDate {
}

.dbs_inputDate > .-container {
  position: relative;
}

.dbs_inputDate > .-container > .-th_input-label {
}

.dbs_inputDate > .-container > .-th_input-data {
  display: inline;
  flex-wrap: wrap;
  gap: 0.35em;
  align-items: center;
}

.dbs_inputDate > .-container > .-th_input-data > input {
  border: 0 none;
  background-color: transparent;
  font: inherit;
  color: currentColor;
  line-height: 1.4;
  padding: 0.15em 0.2em;
  text-align: left;
  min-width: 5em;
}

.dbs_inputDate > .-container > .-th_input-data > input.-day {
  min-width: 9em;
}

.dbs_inputDate > .-container > .-th_input-data > input.-hour {
  min-width: 6em;
}

.dbs_inputDate > .-container > .-th_input-data.-th_input-data-FOCUS {
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);
}

.dbs_inputDate > .-container > .-th_input-data.-th_input-data-FOCUS input {
  outline: none;
}
